/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running MITI datasets
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines default input files and everything required to run an MITI dataset using GPU

    Use as follows:
        nextflow run nf-core/nanoseq -profile MITI,<docker> --input <INSAMPLESHEET> --input_path <INFAST5DIR> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'MITI profile'
    config_profile_description = 'MITI dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    //max_cpus   = 2
    //max_memory = '30.GB'
    //max_time   = '18.h'

    // Samplesheet
    //input             = 's3://maf-sequencing/nanopore/MITI/220906_MC114227_MITI-HA-001_FAQ74835/81_40_86_41_129_64_96_98/20220907_0058_MC-114227_FAQ74835_9dd3988c/samplesheet_220906_MC114227_MITI-HA-001_FAQ74835.csv'
    //input             = 's3://genomics-workflow-core/Results/Nanoseq/run1/SampleSheet_20220722_2139_MN19452_FAQ74537_830f0db9.csv'
    protocol            = 'DNA'
    flowcell            = 'FLO-MIN106'
    kit                 = 'SQK-LSK109'
    barcode_kit         = 'EXP-NBD104'

    trim_barcodes = true
    output_demultiplex_fast5 = true
    run_nanolyse        = true
    skip_alignment=true
    skip_quantification = true
    skip_fusion_analysis= true
    skip_modification_analysis=true

    guppy_gpu = true
    guppy_cpu_threads = 1
    guppy_gpu_runners = 4
    gpu_device = 'auto'

    //super accuracy model, must load manually
    guppy_config = 'dna_r9.4.1_450bps_sup.cfg'
    guppy_model  = 'template_r9.4.1_450bps_sup.jsn'

    // Input Nanopore fast5 folder
    //input_path          = 's3://maf-sequencing/nanopore/MITI/220906_MC114227_MITI-HA-001_FAQ74835/81_40_86_41_129_64_96_98/20220907_0058_MC-114227_FAQ74835_9dd3988c/fast5/'
    //input_path          = 's3://czb-seqbot/nanopore/220722_MN19452_0090_FAQ74537/BC-GF_ICLV-etOH_ICLV-bead_IDLV-bead/20220722_2139_MN19452_FAQ74537_830f0db9/fast5/'
}

// enable docker
docker {
    enabled = true
}
